.logo {
  display: inline-block;

  margin-right: 86px;

  color: $primary-text-color;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-logo {
  color: $accent-color;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 10px;

  color: $primary-white-color;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
